{
  "credentials": [
    {% for ip, node in cluster_nodes.iteritems() %}{
      "principal": "{{ node.principal }}",
      "secret": "{{ node.secret }}"
    },{% endfor %}
      {
      "principal": "{{ chronos_principal }}",
      "secret": "{{ chronos_secret }}"
    }
  ]
}