{
  "credentials": [
    {% for node in cluster_nodes %}{
      "principal": "{{ node.principal }}",
      "secret": "{{ node.secret }}"
    },{% endfor %}
      {
      "principal": "{{ chronos_principal }}",
      "secret": "{{ chronos_secret }}"
    }
  ]
}